<ion-header>
  <ion-toolbar>
    <ion-title>color</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- ir a linea gruesa -->
<ion-button  expand="block" fill="clear" shape="round" routerLink="/color/lineagruesa">
  Ir a Linea gruesa
</ion-button>
  
 <!-- ir a linea delgada -->
 <ion-button  expand="block" fill="clear" shape="round" routerLink="/color/lineadelgada">
  Ir a Linea delgada
</ion-button>

</ion-content>
