<ion-header>
  <ion-toolbar>
    <ion-title>menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<h1>Principal</h1> 
<!-- para ir a Linea -->
<ion-button  expand="block" fill="clear" shape="round" routerLink="/linea">
  Ir a Linea
</ion-button>

<!-- para ir a Color -->
<ion-button  expand="block" fill="clear" shape="round" routerLink="/color">
  Ir a Color
</ion-button>
 
<!-- para ir a rectangulo -->
<ion-button  expand="block" fill="clear" shape="round" routerLink="/rectangulo">
  Ir a rectangulo
</ion-button>

<!-- para ir a circulo -->
<ion-button  expand="block" fill="clear" shape="round" routerLink="/circulo">
  Ir a circulo
</ion-button>

<!-- para ir a video -->
<ion-button  expand="block" fill="clear" shape="round" routerLink="/video">
  Ir a video
</ion-button>
</ion-content>
