<ion-header>
  <ion-toolbar>
    <ion-title>video</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- ir a real con personas -->
<ion-button  expand="block" fill="clear" shape="round" routerLink="/video/realconpersonas">
  Ir a Real con Personas
</ion-button>

<!-- ir a animado -->
<ion-button  expand="block" fill="clear" shape="round" routerLink="/video/animado">
  Ir a animado
</ion-button>

<!-- ir a real con animales -->
<ion-button  expand="block" fill="clear" shape="round" routerLink="/video/realconanimales">
  Ir a Real con animales
</ion-button>



</ion-content>
